body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #fdf6f0;
    color: #333;
    line-height: 1.6;
}

h1 {
    color: #c94c4c;
    text-align: center;
    font-size:medium;
    letter-spacing: 1px;
    text-transform: uppercase;

}

a {
    text-decoration: none;
    color: #2d6a4f;
    font-weight: bold;
}

.food-list {
    margin-top: 20px;
    display: grid;
    gap: 25px;
}

.food-card {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 15px;
    border-left: 5px solid #2d6a4f;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}