<!DOCTYPE html>
<html>
<head>
    <title>Shared Food List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="navbar">
    <a href="{{ url_for('index') }}">Home</a>
    <a href="{{ url_for('submit') }}">Share Food</a>
    <a href="{{ url_for('education') }}">Education</a>

    {% if session.get("is_admin") %}
        <a href="{{ url_for('logout') }}" class="nav-right">Logout</a>
    {% else %}
        <a href="{{ url_for('login') }}" class="nav-right">Back to Home</a>
    {% endif %}
    </div>


    <h1>Shared Food with Love</h1>
    <h1>Food is precious, do not waste it</h1>
        {% with messages=get_flashed_messages() %}
        <ul>
            {% for msg in messages %}
            <li>
                 {{msg}}
            </li>
            {% endfor %}
        {% endwith %}
        </ul>
    <a href="{{ url_for('submit') }}">➕ Share Food</a>
    <a href="{{ url_for('education') }}" class="next-btn">Next →</a>
    {% if session.get("is_admin") %}
        <g style="color: green; font-weight: bold;">Admin Mode</p>

        <a href="{{ url_for('logout') }}" class="logout-btn">Logout</a>

        


    {% endif %}

    <div class="food-list">
        {% for food in food_with_expiry %}
            <div class="food-card">
                <h2>{{ food.item[1] }}</h2>
                <p>Ingredients: {{ food.item[2] }}</p>
                <p>Expires: {{ food.item[3] }}</p>
                {% if food.days_left < 0 %}
                    <span class="expiry expired">Expired</span>
                {% elif food.days_left == 0 %}
                    <span class="expiry today">Expires today</span>
                {% else %}
                    <span class="expiry soon">Expires in {{ food.days_left }} day{{ 's' if food.days_left > 1 else '' }}</span>
                {% endif %}
                
                <p>Status: {{ food.item[4] }}</p>
                <p>Allergy Info: {{ food.item[5] }}</p>
                <p>Free: {{ food.item[6] }}</p>
                <!--Delete Button-->
                <form action="{{ url_for('delete_food', food_id=food.item[0])}}"
                method = "POST"
                onsubmit = 'return confirm("Are you sure you want to delete?");'
                >
                <button type="submit" class="delete-btn">
                    delete
                </button>

                </form>
            </div>
        {% else %}
            <p>No food shared yet. Be the first!</p>
        {% endfor %}
    </div>
</body>
</html>
